---

# Purpose

---

1. Read-in massive temperature-only dataset (temp-1)

<br>

---
## Read In Data
---

In [3]:
import os
import sys
import pandas as pd
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
plt.style.use('seaborn-whitegrid')
import numpy as np

import warnings
warnings.filterwarnings("ignore")
warnings.filterwarnings("ignore", category=UserWarning)

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
os.getcwd()

'D:\\GITHUB_Repos\\SensorAnalysis\\ENTER\\code\\analyzing_temperature_only'

In [5]:
os.chdir('D:\\AOT_TEMPERATURE_ONLY_DATASET\\AoT_Chicago.complete.temp1')
# within this folder we keep the data.csv file we require

All of the data files:

In [6]:
!dir

 Volume in drive D is New Volume
 Volume Serial Number is A060-E317

 Directory of D:\AOT_TEMPERATURE_ONLY_DATASET\AoT_Chicago.complete.temp1

09/21/2021  04:54 PM    <DIR>          .
09/21/2021  04:54 PM    <DIR>          ..
09/07/2021  01:20 PM     8,602,204,160 data.csv
09/07/2021  01:20 PM       682,117,243 data.csv.gz
08/17/2021  11:02 AM            16,268 nodes.csv
08/17/2021  11:02 AM            39,059 offsets.csv
08/17/2021  11:02 AM               263 provenance.csv
08/17/2021  11:02 AM             6,826 README.md
08/17/2021  11:02 AM            27,300 sensors.csv
               7 File(s)  9,284,411,119 bytes
               2 Dir(s)  913,240,518,656 bytes free

In [7]:

# this is a very large file, like over 8GB in size...

df = pd.read_csv('data.csv', 
                 parse_dates=['data.csv'], 
                 index_col='data.csv')

In [8]:
df.head()

,node_id,subsystem,sensor,parameter,value_raw,value_hrf
data.csv,,,,,,
2018-01-01 00:00:06,001e0610e532,metsense,pr103j2,temperature,458.0,-10.90
2018-01-01 00:00:07,001e0610bc07,metsense,pr103j2,temperature,470.0,-10.00
2018-01-01 00:00:07,001e0610ef27,metsense,pr103j2,temperature,459.0,-10.80
2018-01-01 00:00:08,001e0610e540,metsense,pr103j2,temperature,454.0,-11.15
2018-01-01 00:00:08,001e0610ee61,metsense,pr103j2,temperature,451.0,-11.40

In [9]:
df.drop('value_raw', axis=1, inplace=True)  # value_hrf is what we want

In [10]:
df.index.names = ["timestamp"]

In [11]:
df.head()

                          node_id subsystem   sensor    parameter  value_hrf
timestamp
2018-01-01 00:00:06  001e0610e532  metsense  pr103j2  temperature     -10.90
2018-01-01 00:00:07  001e0610bc07  metsense  pr103j2  temperature     -10.00
2018-01-01 00:00:07  001e0610ef27  metsense  pr103j2  temperature     -10.80
2018-01-01 00:00:08  001e0610e540  metsense  pr103j2  temperature     -11.15
2018-01-01 00:00:08  001e0610ee61  metsense  pr103j2  temperature     -11.40

In [12]:
df['node_id'] = df['node_id'].astype('category')
df['subsystem'] = df['subsystem'].astype('category')
df['sensor'] = df['sensor'].astype('category')
df['parameter'] = df['parameter'].astype('category')

In [13]:
df.dtypes

node_id      category
subsystem    category
sensor       category
parameter    category
value_hrf     float64
dtype: object

In [14]:
df.isnull().sum()

node_id      1
subsystem    1
sensor       1
parameter    1
value_hrf    1
dtype: int64

In [ ]:
df.dropna()

In [ ]:
df.isnull().sum()

---

In [ ]:
# df[ df.node_id == '001e0610e532'].head(10)

In [ ]:
# len(df)  # 120 844 394

In [ ]:
# df.dtypes

<hr style="border:2px solid gray"> </hr>

In [ ]:
df.node_id.value_counts()

In [ ]:
print(df.node_id.unique())

In [ ]:
df.head(1)

In [ ]:
df.tail(2)

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna(inplace=True)

In [ ]:
len(df)

In [ ]:
df.isnull().sum()

In [ ]:
df.tail(1)

<br>

---
## EDA
---

In [ ]:
df.head()

In [ ]:
len(df.node_id.unique())  # not bad

In [ ]:
# convert from C to F 
df.value_hrf = (df.value_hrf * (9/5)) + 32

In [ ]:
df.head()

---

In [ ]:
# 6.6 GB -> 14.8 GB background (categoricals help alot)

In [ ]:
# data:  2018, 2019, 2020 (years)

In [ ]:
tdf = df.loc['2019-01-01':'2019-02-28'].copy()

In [ ]:
tdf.head(5)

In [ ]:
tdf.tail(5)

In [ ]:
len(tdf)  # 8 317 639

In [ ]:
sns.lineplot(x=tdf.index, 
             y="value_hrf",
             hue="node_id", 
             data=tdf)

In [ ]:
tdf['T'] = tdf.index

In [ ]:
tdf.head()

In [ ]:

ndf = tdf[tdf.node_id == '001e06113f54'].copy()

plt.figure(figsize=(19, 7))

sns.lineplot(x='T',  
             y="value_hrf",
             data=ndf, 
             linewidth=1, 
             linestyle='dashed')          
            
sns.despine();

In [ ]:
for u in tdf.node_id.unique():
    print(u)

In [ ]:

# ndf = tdf[tdf.node_id == '001e06113f54'].copy()

plt.figure(figsize=(19, 7))

sns.lineplot(x=tdf[tdf.node_id == '001e06113f54'].index, 
             y=tdf[tdf.node_id == '001e06113f54'].value_hrf, 
             linewidth=1, 
             linestyle='dashed')          
            
sns.despine();

In [ ]:

# sns.catplot(
#     data=tdf,
#     x='T', 
#     y='value_hrf', 
#     row='node_id',
#     col_wrap=4,
#     kind='point',
#     height=3, 
#     aspect=4,
#     color='blue')

#### plot all of them one by one

In [ ]:

plt.style.use("dark_background")

small_window = list(tdf.node_id.unique())

for w in small_window:
    plt.figure(figsize=(16,4),dpi = 600)
    plt.grid(False)
    sns.lineplot( x = tdf[tdf.node_id == w].index, 
             y=tdf[tdf.node_id == w].value_hrf, 
             linewidth=.8,
             color='cyan')
    sns.despine()
    plt.xlabel(''),
    plt.ylabel('Temperature (C)')
    plt.title('node_id: = {}'.format(w))
    plt.tight_layout()
    plt.show()

In [ ]:
# sns.lineplot(x=tdf.index, 
#              y='value_hrf', 
#              data=tdf, 
#              linewidth=1, 
#              hue='node_id', 
#              linestyle='dashed').set(title='Time Series Plot')

# #rotate x-axis labels by 15 degrees
# plt.xticks(rotation=15)

# # boxplots by month
# sns.boxplot(x = 'month', y='Value', data = df)


# # boxplots by month
# sns.boxplot(x = 'month', y='Value', data = df)

```python

import pandas as pd
import multiprocessing as mp
from multiprocessing import Pool, cpu_count

def parallelize_dataframe(df, func, n_cores=12):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

```

In [ ]:
# # importing the module
# import matplotlib.pyplot as plt
  
# # plotting line within the given range
# plt.axhline(y = .5, xmin = 0.25, xmax = 0.9)
  
# # line colour is blue
# plt.axhline(y = 3, color = 'b', linestyle = ':')
  
# # line colour is white
# plt.axhline(y = 1, color = 'w', linestyle = '--')
  
# # line colour is red
# plt.axhline(y = 2, color = 'r', linestyle = 'dashed')    
    
# # adding axis labels    
# plt.xlabel('x - axis')
# plt.ylabel('y - axis')
  
# # displaying the plot
# plt.show()

---